.logo {
    margin: .5em 0 0;

    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    font-weight: 300;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;

    @include desde(web) {
        text-align: left;
    }

    span {
        color: $color2;
        font-weight: 600;
    }
}

.subtitle {
    font-family: $header--font-family;
    font-weight: 300;
    letter-spacing: -0.04em;
    line-height: 1;
    text-align: center;

    opacity: .7;

    @include desde(web) {
        text-align: left;
    }
}

#header {
    color: #fff;

    @include hasta(tablet) {
        background: $color1;
    }

    @include desde(tablet) {
        background: linear-gradient(
                    $color1 75%,
                    transparent 75%
                    );
    }
}
