doctype html
html(lang="es")
    head
        title Hair Doctors
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="tema/css/estilos.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
        script(src="tema/js/scripts.js")
    body
        header#header
            .grupo
                .caja
                    h2.logo Hair 
                        span Doctor
                    p.subtitle A permanent hair loss solution
                .caja
                    #mostrar-menu.icon-menu.espacio Menu
                    ul.menu
                        li.menu__item: a.menu__link(href="#") Home
                        li.menu__item: a.menu__link(href="#") About us
                        li.menu__item: a.menu__link(href="#") Services
                        li.menu__item: a.menu__link(href="#") Blog
                        li.menu__item: a.menu__link(href="#") Contact
            .grupo
                .caja
                    .banner
                        img(src="img/Ikkaku.png")
                        .copy
                            h2.copy__title Effective
                                span Hair Restoration
                            p.copy__description
                                 |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores minima perferendis quae dolor odio alias! 
                            a.copy__boton(href="#") more
        
        section#servicios
            .grupo 
                .caja
                    h2.section-title Services
                        span What we offer to our clients!
                .caja
                    .servicio
                        img.servicio__img(src="img/check.png")
                        h3.servicio__title Hair Transplantation
                        p.servicio__description 
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias assumenda blanditiis debitis iure, earum vitae quo quidem quis velit consequatur. Ipsam ad sapiente incidunt.
                    .servicio
                        img.servicio__img(src="img/leaf.png")
                        h3.servicio__title Medical Treatments
                        p.servicio__description 
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias assumenda blanditiis debitis iure, earum vitae quo quidem quis velit consequatur. Ipsam ad sapiente incidunt.
                    .servicio
                        img.servicio__img(src="img/plus.png")
                        h3.servicio__title Hair Transplantation
                        p.servicio__description 
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias assumenda blanditiis debitis iure, earum vitae quo quidem quis velit consequatur. Ipsam ad sapiente incidunt.
        
        section#clientes
            .grupo
                .caja
                    .clientes
                        h2.clientes__titulo This is the list of our recent clients
                        .clientes__nav
                            .clientes__nav__item.clientes__nav__item--prev
                            .clientes__nav__item.clientes__nav__item--next
                .caja
                    .cliente
                        img.cliente_img(src="img/cliente1.jpg")
                        h3.cliente__title Client 1
                        p.cliente__description 
                             |Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        
                .caja
                    .cliente
                        img.cliente_img(src="img/cliente2.jpg")
                        h3.cliente__title Client 2
                        p.cliente__description 
                             |Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                .caja
                    .cliente
                        img.cliente_img(src="img/cliente3.jpg")
                        h3.cliente__title Client 3
                        p.cliente__description 
                             |Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        
        section#noticias
            .grupo
                .caja
                    .noticia
                        h3.noticia__title Hair transplants
                            span Vestibilum iaculis
                        img.noticia__img(src="img/noticia1.jpg")
                        p.noticia__description 
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam neque vel enim dolorem ipsum aliquam culpa, porro et.
                .caja
                    .noticia
                        h3.noticia__title Woman's hair loss
                            span Vestibilum iaculis
                        img.noticia__img(src="img/noticia2.jpg")
                        p.noticia__description 
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam neque vel enim dolorem ipsum aliquam culpa, porro et.
                .caja
                    .noticia
                        h3.noticia__title Men's hair loss
                            span Vestibilum iaculis
                        img.noticia__img(src="img/noticia3.jpg")
                        p.noticia__description 
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam neque vel enim dolorem ipsum aliquam culpa, porro et.
        
        footer#footer
            .grupo
                .caja
                    p.creditos Hair Doctor &copy; 2014 | Privacy Policy
                .caja
                    .sociales
                        a(href="#").sociales__item
                        a(href="#").sociales__item
                        a(href="#").sociales__item
                        a(href="#").sociales__item
                        a(href="#").sociales__item
        
